<!DOCTYPE html>
<html>
<head>
  <title>Zigsaw</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="container"><img style="width: 200px; margin: 10px 0;" src="<%= asset_path 'jigsaw.png' %>"/></div>
<%= yield %>

</body>
</html>
